<!DOCTYPE html>
<html>
<head>
<h1>FatEar</h1>
</head>
<body>

	<p style="text-align:right;"> <a href="/login">Login</a> </p>
	<p style="text-align:right;"><a href="/register">Register</a></p>
	<center> <a href="/">Index</a> &nbsp <a href="/search">Search</a> </center>

Title: {{songinfo.title}}
<br>
Artist: {{songinfo.singer}}
<br>
Release Date: {{songinfo.releaseDate}}
<br>
Genre: {{songinfo.genre}}
<br>
Stars: {{songinfo.stars}}
<br>

<center>
<a href='{{songinfo.songURL}}'>Listen</a>
</center>


</body>
</html>